<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
	body {
		text-align: center;
	}
</style>
<script src="js/vue.min.js"></script>
<script src="js/axios.min.js"></script>

<body>

	<div class="mainDiv" id="root">

		<h1>WIFI配置界面</h1>

		名称<input type="text" v-model="name" placeholder="请输入名称">
		<br>
		<br>
		密码<input type="text" v-model="password" placeholder="请输入密码">
		<br>
		<br>
		<button @click='sendData(dataURL)'>提交</button>
		<button @click='resetData()'>重置</button>


		<div class="tipbasi" :class="err">{{result}}</div>
	</div>
	<script type="text/javascript">
		var vm = new Vue({
			el: '#root',
			data: {
				name: '',
				password: '',
				result: '',
				err: ''

			},
			computed: {
				dataURL() {
					return '/WiFiConfig.html?name=' + this.name + '&password=' + this.password
				}

			},
			methods: {
				sendData(url) {
					if (this.name == '') {
						console.log('WiFi名称不能空');
						removeEventListener
						this.result = '提交失败，WiFi名称不能空'
						return false
					}
					axios.defaults.timeout = 30000
					axios(url).then(
						res => {
							console.log(res)
							this.result = 'WiFi配置成功'
							// this.err = ''
						}
					).catch(err => {
						console.log(err)
						this.result = err+',WiFi配置失败'
						// this.err = 'err'
					});
				},
				resetData() {
					this.name = ''
					this.password = ''
					this.result = ''
				},
			},
		})
	</script>
</body>

</html>